<main role="main" class="inner cover mt-3">

    <div class="jumbotron">
        <h1 class="display-4">Private School Vlachogiannis</h1>
        <p class="lead">
            The Vlachogiannis School is a vibrant, successful and forward-facing academy situated in
            the market town of Athens.
        </p>
    </div>
</main>