<div class="text-center">
    <a href="https://twitter.com/" target="_blank"><i class="icon-footer fa-lg fab fa-twitter"></i></a>
    <a href="https://facebook.com/" target="_blank"><i class="icon-footer fa-lg fab fa-facebook-f"></i></a>
    <a href="https://instagram.com/" target="_blank"><i class="icon-footer fa-lg fab fa-instagram"></i></a>
    <a href="mailto: info@vlachogiannis_school.com" target="_blank">
        <i class="icon-footer fa-lg fas fa-envelope"></i>
    </a>

    <p>&copy; Copyright 2020 <strong>Vlachogiannis School</strong> </p>
</div>